{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view" class="container">
    </div>
    
    <div id="single-email-view" class="container">
        <div class="row">
            <div class="col-sm-2 email-header"><strong>From:</strong></div>
            <div class="col-sm-4" id="single-email-from"></div>
        </div>

        <div class="row">
            <div class="col-sm-2 email-header"><strong>To:</strong></div>
            <div class="col-sm-4" id="single-email-to"></div>
        </div>

        <div class="row">
            <div class="col-sm-2 email-header"><strong>Subject</strong></div>
            <div class="col-sm-4" id="single-email-subject"></div>
        </div>

        <div class="row">
            <div class="col-sm-2 email-header"><strong>Timestamp:</strong></div>
            <div class="col-sm-4" id="single-email-timestamp"></div>
        </div>

        <div class="row" id="email-buttons">
            <div class="col mt-2">
                <button type="button" class="btn btn-sm btn-outline-primary" id="reply-button">Reply</button>
                <button type="button" class="btn btn-sm btn-outline-primary" id="archive-button">Archive</button>
                <button type="button" class="btn btn-sm btn-outline-primary" id="unarchive-button">Unarchive</button>
            </div>
        </div>


        <hr/>
        <div class="row">
            <div class="col email-content" id="single-email-content"></div>
        </div>
    </div>

    <div id="compose-view">
        <h3 class="compose-heading">New Email</h3>
        <form id="compose-form">
            <div class="form-group" id="compose-from">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group" id="compose-to">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <div class="form-group">
                <p id="last-message"></p>
                <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            </div>
            <input id="send_email" type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}