<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit entry</title>
    <style>
        .container{
            display: grid;
            place-items: center;
        }

        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Creating new Entry</h1>
    <div class="container">
        <form action="{% url 'NEW' %}" method="post">
            {% csrf_token %}
            {% for text in form %}
                <div>{{text}}</div>
            {% endfor %}
            <input type="submit" value="save">
        </form>
    </div>
    <a href="{%url 'index' %}">Home</a>
</body>
</html>